[submodule "pkgs/VulkanMemoryAllocator"]
	path = pkgs/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "pkgs/obacktracing"]
	path = pkgs/obacktracing
	url = https://github.com/laytan/obacktracing
